//Background
$Clr-BG-Main:hsl(268, 75%, 9%);
$Clr-BG-Toggle-Keypad:hsl(268, 71%, 12%);
$Clr-BG-Screen:hsl(268, 71%, 12%);

//Keys
$Clr-Key-BG-1:hsl(281, 89%, 26%);
$Clr-Key-BG-2:hsl(176, 100%, 44%);
$Clr-Key-BG-3:hsl(268, 47%, 21%);
$Clr-Key-Shadow-1:hsl(285, 91%, 52%);
$Clr-Key-Shadow-2:hsl(177, 92%, 70%);
$Clr-Key-Shadow-3:hsl(290, 70%, 36%);

//Text
$Clr-Txt-1:hsl(52, 100%, 62%);
$Clr-Txt-2:hsl(198, 20%, 13%);
$Clr-Txt-3:hsl(0, 0, 100%);