//Background
$Clr-BG-Main: hsl(222, 26%, 31%);
$Clr-BG-Toggle-Keypad: hsl(223, 31%, 20%);
$Clr-BG-Screen: hsl(224, 36%, 15%);

//Keys
$Clr-Key-BG-1: hsl(225, 21%, 49%);
$Clr-Key-BG-2: hsl(6, 63%, 50%);
$Clr-Key-BG-3: hsl(6, 63%, 50%);
$Clr-Key-Shadow-1: hsl(224, 28%, 35%);
$Clr-Key-Shadow-2: hsl(6, 70%, 34%);
$Clr-Key-Shadow-3: hsl(6, 70%, 34%);

//Text
$Clr-Txt-1:hsl(221, 14%, 31%);
$Clr-Txt-2:hsl(221, 14%, 31%);

