//Background
$T2-Clr-BG-Main:hsl(0, 0%, 90%);
$T2-Clr-BG-Toggle-Keypad:hsl(0, 5%, 81%);
$T2-Clr-BG-Screen:hsl(0, 0%, 93%);

//Keys
$T2-Clr-Key-BG-1:hsl(185, 42%, 37%);
$T2-Clr-Key-BG-2:hsl(25, 98%, 40%);
$T2-Clr-Key-BG-3:hsl(45, 7%, 89%);
$T2-Clr-Key-Shadow-1:hsl(185, 58%, 25%);
$T2-Clr-Key-Shadow-2:hsl(25, 99%, 27%);
$T2-Clr-Key-Shadow-3:hsl(35, 11%, 61%);

//Text
$T2-Clr-Txt-1:hsl(60, 10%, 19%);
$T2-Clr-Txt-2:hsl(0, 0, 100%);